<h2><%= t ".comments" %></h2>

<div class="comments_area">
  <% comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.post_user.name %> <%= t(".post_at", time: comment.updated_at) %></p>
      <p><%= comment.memo %></p>
      <% if current_user == comment.post_user %>
        <%= link_to t(".edit"), edit_comment_path(comment) %>
        <%= link_to t(".delete"), comment, method: :delete, data: { confirm: t('books_app.confirm.reconfirm') } %>
      <% end %>
    </div>
  <% end %>
</div>
