<h1><%= t 'books_app.page_title.following' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t 'users.registrations.user_id' %></th>
      <th><%= t 'users.registrations.name' %></th>
      <th><%= t 'users.registrations.email' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t(".users_profile"), user_path(user.id) %></td>
        <td><% unless current_user == user %>
          <div id=<%="follow_form_#{user.id}"%>>
            <% if current_user.following?(user) %>
              <%= render "unfollow", user: user %>
            <% else %>
              <%= render "follow", user: user %>
            <% end %>
          </div>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @users %>
<br>
