<h1>Users#new</h1>
<p><%= t 'id' %> : <%= @user.id %></p>
<p><%= t 'postal_code' %> : <%= @user.postal_code %></p>
<p><%= t 'street_address' %> : <%= @user.street_address %></p>
<p><%= t 'self_introduction' %> : <%= @user.self_introduction %></p>
