<h1><%= t 'users.registrations.show' %></h1>
<p> id : <%= @user.id %></p>
<p><%= t 'activerecord.attributes.user.postal_code' %> : <%= @user.postal_code %></p>
<p><%= t 'activerecord.attributes.user.street_address' %> : <%= @user.street_address %></p>
<p><%= t 'activerecord.attributes.user.self_introduction' %> : <%= @user.self_introduction %></p>
<%= link_to t("users.shared.links.edit_profile"), edit_user_registration_path, class: 'navbar-link' %>
