<h1><%= t '.profile' %></h1>
<% if @user.avatar.attached? %>
  <p><%= t '.avatar' %> : </p>
  <%= image_tag @user.avatar, class: "avatar" %><br />
<% else %>
  <p><%= t '.avatar' %> : </p>
  <%= image_tag "avatar_sample.jpeg", class: "avatar" %><br />
<% end %>
<p> id : <%= @user.id %></p>
<p><%= t '.postal_code' %> : <%= @user.postal_code %></p>
<p><%= t '.street_address' %> : <%= @user.street_address %></p>
<p><%= t '.self_introduction' %> : <%= @user.self_introduction %></p>
<%= link_to t(".edit_profile"), edit_user_registration_path, class: 'navbar-link' %>
