<%= form_with(model: book, local: true) do |form| %>
  <%= render "layouts/show_errors_when_creating", instance: book %>

  <div class="field">
    <%= form.label :title, t('books_app.title')%>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :memo, t('books_app.memo') %>
    <%= form.text_area :memo %>
  </div>

  <div class="field">
    <%= form.label :author, t('books_app.author') %>
    <%= form.text_field :author, id: :book_author %>
  </div>

  <div class="field">
    <%= form.label :picture, t('books_app.picture') %>
    <%= form.file_field :picture, id: :book_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
