<p>
  <strong><%= t '.post_user' %>:</strong>
  <%= @report.post_user.name %>
</p>

<p>
  <strong><%= t '.title' %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= t '.memo' %>:</strong>
  <%= @report.memo %>
</p>

<%= link_to t('.edit'), edit_report_path(@report) %> |
<%= link_to t('.back'), reports_path %>

<%= render "comments/list", comments: @report.comments %>
<%= render "comments/form", comment: Comment.new, book_id: nil, report_id: @report.id %>
